.a {
    text-align: center;
}

.aim {
    margin-top: 45px;
}

.d {
    font-size: 19px;
    font-family: 'Times New Roman', Times, serif;
    line-height: 39px;
    text-align: justify;
    letter-spacing: 1px;
    word-spacing: 2px;
}
.heel{
    background-color:#dee2e6;
}
.class {
    text-align: center;
    margin-top: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.club{
    text-align: center;
    padding-top: 26px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

